<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <!-- Enlace al archivo CSS externo -->
    <link rel="stylesheet" type="text/css" href="miestilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <!-- Encabezado -->
    <header>
        <!-- Logo de la empresa -->
        <img src="logo.jpg" alt="Logo empresa" class="logo">
        
        <!-- Menú de navegación -->
        <nav>
            <ul>
                <li><a href="https://www.google.com">Google</a></li>
                <li><a href="https://www.yahoo.com">Yahoo</a></li>
                <li><a href="https://talentosdigitales.ar/">Talentos Digitales</a></li>
            </ul>
        </nav>

    <!-- Sección principal -->
    <section>
        <!-- Contenido de la sección -->
        <div class="mi-división">
            <p class="mi-clase">
                Somos una empresa que se dedica a la venta de relojes de mesa y pared con diseños únicos e
                innovadores. Utilizamos materia prima de calidad y elaboramos productos a la medida del
                cliente.
            </p>
            <img src="reloj.jpg" alt="foto reloj" class="foto-reloj">
            <p>¡Descubre la magia del tiempo con nuestros relojes excepcionales!” </p>
        </div>
    </section>

    <!-- Pie de página -->
    <footer>
        <div class="footer-content">
            <!-- Iconos de redes sociales -->
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fas fa-times"></i></a>
        </div>
    </footer>
</body>
</html>